.index-body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45)),url("../assets/images/banner-initial.png");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: 100vh;
}

.home-body {
    margin: 0;
    padding: 0;
    background-image: url("../assets/images/growcast-01.png");
    background-size: cover;
    height: 100vh;
}

.logo-growflix {
    max-width: 130px;
    height: auto;
}

#text-growcasts {
    font-size: clamp(3.1rem, 9vw, 80px);
    font-weight: bold;
    margin-top: 100px;
    padding: 0;
}

.btn-custom {
    padding: 20px 35px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 100px;
    margin-top: 10px;
    background-color: #E50914;
}

.title {
    font-size: clamp(30px, 5vw, 50px);
    font-weight: bolder;
}

.custom-text {
    font-size: clamp(25px, 4vw, 30px);
    max-width: 300px;
    margin: auto;
}

@media (min-width: 576px) {
    .custom-text {
      max-width: 500px;
    }
}

@media (min-width: 1200px) {
    .custom-text {
        margin: 0;
    }
}

.img-1 {
  width: clamp(200px, 40vw, 500px);
  object-fit: cover;
}

.custom-row-1 {
    padding: 50px 0px;
}

.custom-container {
    max-width: 1600px;
}

.accordion-item {
    margin: 5px auto;
    max-width: 850px;
    width: 70%;
    border-radius: 0px !important;
    border: 1px solid #303030 !important;
}

.accordion-button {
    background-color: #303030;
    color: white;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.accordion-button:not(.collapsed) {
    background-color: #303030;
    color: white;
}

.accordion-button::after {
    display: none;
  }
  
  .accordion-button .icon {
    transition: transform 0.2s ease;
    font-size: 40px;
  }
  
  .accordion-button:not(.collapsed) .icon {
    transform: rotate(-180deg);
  }

  footer p {
    color: grey;
    font-size: 13px;
  }

  footer {
    background-color: black;
  }

  .custom-footer {
    max-width: 1000px;
    margin: auto;
  }

.custom-text-growcast {
    font-size: clamp(40px,5vw, 80px);
    padding: 0;
    margin: 0;
}

.custom-container-home {
    margin-top: 400px;
    padding: 0;
    margin-bottom: 100px;
    max-width: 800px;
}
