body {
    margin: 0;
    padding: 0;
}

.logo-growflix {
    width: 130px;
    height: auto;
    padding-left: 8px;
}

#text-growcasts {
    font-size: clamp(3.1rem, 8vw, 80px);
    font-weight: bold;
    margin-top: 100px;
    padding: 0;
}

.btn-custon {
    padding: 10px 30px;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 30px;
    margin-bottom: 100px;
}

#text-tv {
    font-size: 55px;
    font-weight: bolder;
}

.img-1 {
  width: clamp(100px, 50vw, 500px);
  object-fit: cover;
}

